@use 'variables';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.avatar {
	width: 50px;
}

.email {
	font-size: 1.2rem;
	color: variables.$primary-text-color;
	font-weight: bold;
}
