@use 'variables';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	gap: 5px;
}

.avatar {
	width: 50px;
}

.email {
	font-size: 1.2rem;
	color: variables.$primary-text-color;
	font-weight: bold;
}

.sign-out {
	position: absolute;
	bottom: -5px;
	background-color: white;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	&:focus {
		outline-color: variables.$dark-background-color;
	}

	.text {
		color: black;
		font-size: 1.5rem;
		margin: 0;
		white-space: nowrap;
	}
}
